.social {
display: flex;
align-items: center;
gap: 24px;

a {
    height: 50px;
    width: 50px;
    border: 1px solid #26ad2b;
    border-radius: 50px;

    display: flex;
    align-items: center;
    justify-content: center;
}
}